section#input {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: clamp(20em, 15em, 100vw);
  padding: 1em;
}

section#input label {
  font-weight: 800;
  opacity: 0.5;
}

section#preview {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 75vw;
  overflow-x: auto;
  border: 1px solid black;
  border-radius: 1em;
}
